<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello from Flask</title>


    <link href="/static/app.css" rel="stylesheets">
    
</head>
<body>
        
    <h1>Welcome to API</h1>
    <h3> Read the Following instructions</h3>

        <h5>API functionality</h5>
        <ul>
            <li>get a catalog</li>
            <li>create a new product</li>
            <li>feed your dead dog</li>
            <li>call your dead grandmother</li>
        </ul>

</body>
</html>